@font-face {
  font-family: 'Wankstaberg';
  src: url('/assets/fonts/WankstabergBattles.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo {
    font-family: "Wankstaberg", sans-serif;
}
