<header
  class="flex items-center justify-between border-b border-[#2E2E2E] py-10 px-8 bg-black"
>
  <div class="" routerLink="/">
    <h1 class="logo text-[40px] text-[#F0EBE1] h-[25px] cursor-pointer">
      Rvsd
    </h1>
  </div>
  <nav class="flex gap-4 item-center text-[#F0EBE1]">
    <div
      class="text-[#2E2E2E] transition duration-500 ease-in cursor-pointer hover:text-white flex gap-2 items-center"
      routerLink="/cart"
    >
      <i class="fa-solid fa-cart-arrow-down"></i>
      <a>CART</a>
    </div>
    <div
      class="text-[#2E2E2E] transition duration-500 ease-in cursor-pointer hover:text-white flex gap-2 items-center"
      routerLink="/shop"
    >
      <i class="fa-solid fa-shop"></i>
      <a>SHOP</a>
    </div>

    <!-- Not Logged In -->
    <ng-container *ngIf="!authService.isLoggedIn(); else loggedInMenu">
      <div
        class="text-[#2E2E2E] transition duration-500 ease-in cursor-pointer hover:text-white flex gap-2 items-center"
        routerLink="/auth"
      >
        <i class="fa-solid fa-arrow-right-to-bracket"></i>
        <a>LOGIN</a>
      </div>
    </ng-container>

    <ng-template #loggedInMenu>
      <div class="flex items-center">
        <div class="relative inline-block">
          <button
            (click)="toggleDropdown()"
            class="h-10 w-10 rounded-full bg-[#2E2E2E] flex items-center justify-center font-semibold overflow-hidden"
          >
            <i class="fa-solid fa-user"></i>
          </button>

          <div
            *ngIf="isDropdownOpen"
            class="absolute right-0 mt-2 w-56 rounded-lg bg-[#2E2E2E] shadow-lg z-50"
          >
            <a
              routerLink="/apply-store"
              class="block px-4 py-2 hover:bg-gray-100 rounded-lg hover:text-[#2E2E2E]"
            >
              <i class="fa-solid fa-shop"></i>
              Apply as Store Owner
            </a>

            <button
              (click)="logout()"
              class="w-full text-left px-4 py-2 hover:bg-gray-100 rounded-lg text-red-600"
            >
              Log out
              <i class="fa-solid fa-sign-out"></i>
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </nav>
</header>
