<header
  class="flex items-center justify-between border-b border-[#2E2E2E] py-10 px-8"
>
  <div class="" routerLink="/">
    <h1 class="logo text-[40px] text-[#F0EBE1] h-[25px] cursor-pointer">
      Rvsd
    </h1>
  </div>
  <nav class="flex gap-4 mr-8">
    <div
      class="text-[#2E2E2E] transition duration-500 ease-in cursor-pointer hover:text-white flex gap-2 items-center"
      routerLink="/shop"
    >
      <i class="fa-solid fa-shop"></i>
      <a>SHOP</a>
    </div>
    <div
      class="text-[#2E2E2E] transition duration-500 ease-in cursor-pointer hover:text-white flex gap-2 items-center"
    >
      <i class="fa-solid fa-shirt"></i>
      <a>COLLECTIONS</a>
    </div>
    <div
      class="text-[#2E2E2E] transition duration-500 ease-in cursor-pointer hover:text-white flex gap-2 items-center"
      routerLink="/cart"
    >
      <i class="fa-solid fa-cart-arrow-down"></i>
      <a>CART</a>
    </div>
  </nav>
</header>
