<div class="w-64 min-h-screen bg-[#0A0A0A] text-white p-6">
  <nav class="flex flex-col gap-4">
    <label class="text-[#2E2E2E] text-bold">OVERVIEW</label>

    <div
      class="p-2 rounded-xl flex gap-2 items-center transition-colors"
      [ngClass]="
        isActive('/store-owner/dashboard')
          ? 'bg-[#C8A97E] text-[#2E2E2E]'
          : 'text-white'
      "
    >
      <i class="fa-solid fa-home"></i>
      <a routerLink="/store-owner/dashboard" class="w-full">Dashboard</a>
    </div>

    <label class="text-[#2E2E2E] text-bold">MANAGE</label>

    <div
      class="p-2 rounded-xl flex gap-2 items-center transition-colors"
      [ngClass]="
        isActive('/store-owner/messages')
          ? 'bg-[#C8A97E] text-[#2E2E2E]'
          : 'text-white'
      "
    >
      <i class="fa-solid fa-message"></i>
      <a routerLink="/store-owner/messages" class="w-full">Messages</a>
    </div>

    <div
      class="p-2 rounded-xl flex gap-2 items-center transition-colors"
      [ngClass]="
        isActive('/store-owner/products')
          ? 'bg-[#C8A97E] text-[#2E2E2E]'
          : 'text-white'
      "
    >
      <i class="fa-solid fa-box"></i>
      <a routerLink="/store-owner/products" class="w-full">Products</a>
    </div>

    <div
      class="p-2 rounded-xl flex gap-2 items-center transition-colors"
      [ngClass]="
        isActive('/store-owner/orders')
          ? 'bg-[#C8A97E] text-[#2E2E2E]'
          : 'text-white'
      "
    >
      <i class="fa-solid fa-box"></i>
      <a routerLink="/store-owner/orders" class="w-full">Orders</a>
    </div>

    <div
      class="p-2 rounded-xl flex gap-2 items-center transition-colors"
      [ngClass]="
        isActive('/store-owner/setup-store')
          ? 'bg-[#C8A97E] text-[#2E2E2E]'
          : 'text-white'
      "
    >
      <i class="fa-solid fa-store"></i>
      <a routerLink="/store-owner/setup-store" class="w-full">Store Location</a>
    </div>
  </nav>
</div>
