<div class="w-64 min-h-screen bg-[#0A0A0A] text-white p-6">
  <nav class="flex flex-col gap-4">
    <label class="text-[#2E2E2E] text-bold">OVERVIEW</label>

    <div
      class="p-2 rounded-xl flex gap-2 items-center transition-colors"
      [ngClass]="
        isActive('/admin/dashboard')
          ? 'bg-[#C8A97E] text-[#2E2E2E]'
          : 'text-white'
      "
    >
      <i class="fa-solid fa-home"></i>
      <a routerLink="/admin/dashboard" class="w-full">Dashboard</a>
    </div>

    <label class="text-[#2E2E2E] text-bold">MANAGE</label>

    <div
      class="p-2 rounded-xl flex gap-2 items-center transition-colors"
      [ngClass]="
        isActive('/admin/users') ? 'bg-[#C8A97E] text-[#2E2E2E]' : 'text-white'
      "
    >
      <i class="fa-solid fa-users"></i>
      <a routerLink="/admin/users" class="w-full">Users</a>
    </div>

    <div
      class="p-2 rounded-xl flex gap-2 items-center transition-colors"
      [ngClass]="
        isActive('/admin/applications')
          ? 'bg-[#C8A97E] text-[#2E2E2E]'
          : 'text-white'
      "
    >
      <i class="fa-solid fa-file-lines"></i>
      <a routerLink="/admin/applications" class="w-full">Store Applications</a>
    </div>
  </nav>
</div>
