<section class="min-h-screen bg-[#F0EBE1] p-12">
  <div class="max-w-7xl mx-auto grid grid-cols-3 gap-8">
    <!-- Shipping -->

    <div class="col-span-2 bg-white rounded-xl shadow-lg p-8">
      <h2 class="text-3xl font-bold mb-8">Checkout</h2>

      <div class="grid grid-cols-2 gap-5">
        <input
          [(ngModel)]="shipping.fullName"
          placeholder="Full Name"
          class="border p-4 rounded-lg"
        />

        <input
          [(ngModel)]="shipping.phone"
          placeholder="Phone Number"
          class="border p-4 rounded-lg"
        />

        <input
          [(ngModel)]="shipping.city"
          placeholder="City"
          class="border p-4 rounded-lg"
        />

        <input
          [(ngModel)]="shipping.province"
          placeholder="Province"
          class="border p-4 rounded-lg"
        />

        <input
          [(ngModel)]="shipping.zipCode"
          placeholder="Zip Code"
          class="border p-4 rounded-lg"
        />
      </div>

      <textarea
        rows="4"
        [(ngModel)]="shipping.address"
        placeholder="Complete Address"
        class="border p-4 rounded-lg w-full mt-5"
      ></textarea>

      <div class="mt-8">
        <h3 class="font-bold text-xl mb-4">Payment Method</h3>

        <label class="flex gap-3 items-center">
          <input
            type="radio"
            value="Cash on Delivery"
            [(ngModel)]="paymentMethod"
          />

          Cash on Delivery
        </label>
      </div>
    </div>

    <!-- Summary -->

    <div class="bg-white rounded-xl shadow-lg p-8 h-fit">
      <h2 class="text-2xl font-bold mb-6">Order Summary</h2>

      <div *ngFor="let item of cartItems" class="flex justify-between mb-4">
        <span> {{ item.product.name }} × {{ item.quantity }} </span>

        <strong> ₱ {{ item.product.price * item.quantity }} </strong>
      </div>

      <hr class="my-5" />

      <div class="flex justify-between">
        <span>Subtotal</span>

        <strong>₱ {{ subtotal }}</strong>
      </div>

      <div class="flex justify-between mt-3">
        <span>Delivery</span>

        <strong>₱ {{ deliveryFee }}</strong>
      </div>

      <div class="flex justify-between mt-5 text-2xl">
        <strong>Total</strong>

        <strong>₱ {{ total }}</strong>
      </div>

      <button
        (click)="placeOrder()"
        class="w-full mt-8 bg-black text-white p-4 rounded-lg"
      >
        Place Order
      </button>
    </div>
  </div>
</section>
