<div class="flex flex-col">
  <h1 class="text-md text-[#C8A97E]">MANAGE</h1>
  <b class="text-4xl text-white">Users</b>
  <p class="text-[#2E2E2E] text-md mt-2">
    View accounts and manage accounts across the platform.
  </p>
</div>

<!-- Search -->
<!-- <div class="mt-8 flex justify-between items-center">
  <input
    type="text"
    placeholder="Search by name or email..."
    class="w-80 rounded-xl bg-[#111111] border border-[#2E2E2E] px-4 py-3 text-white focus:outline-none focus:border-[#C8A97E]"
  />
</div> -->

<!-- Users Table -->
<div
  class="mt-6 overflow-hidden rounded-2xl border border-[#2E2E2E] bg-[#111111]"
>
  <table class="w-full">
    <thead class="bg-[#1B1B1B]">
      <tr class="text-left text-[#C8A97E]">
        <th class="px-6 py-4">User</th>
        <th class="px-6 py-4">Role</th>
        <th class="px-6 py-4">Joined</th>
        <th class="px-6 py-4 text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let user of users"
        class="border-t border-[#2E2E2E] hover:bg-[#181818] transition"
      >
        <!-- User -->
        <td class="px-6 py-5">
          <div class="flex flex-col">
            <span class="font-semibold text-white">
              {{ user.firstName }} {{ user.lastName }}
            </span>

            <span class="text-sm text-gray-400">
              {{ user.email }}
            </span>
          </div>
        </td>

        <!-- Role -->
        <td class="px-6 py-5">
          <span
            *ngIf="user.role === 'admin'"
            class="rounded-full bg-red-500/20 text-red-400 px-3 py-1 text-sm"
          >
            Admin
          </span>

          <span
            *ngIf="user.role === 'store-owner'"
            class="rounded-full bg-green-500/20 text-green-400 px-3 py-1 text-sm"
          >
            Store Owner
          </span>

          <span
            *ngIf="user.role === 'customer'"
            class="rounded-full bg-blue-500/20 text-blue-400 px-3 py-1 text-sm"
          >
            Customer
          </span>
        </td>

        <!-- Joined -->
        <td class="px-6 py-5 text-white">
          {{ user.createdAt | date: "mediumDate" }}
        </td>

        <!-- Actions -->
        <td class="px-6 py-5">
          <div class="flex justify-center gap-3">
            <button
              class="rounded-lg bg-[#C8A97E] px-4 py-2 text-black hover:opacity-90"
            >
              View
            </button>
          </div>
        </td>
      </tr>

      <!-- Empty State -->
      <tr *ngIf="users.length === 0">
        <td colspan="4" class="py-10 text-center text-gray-400">
          No users found.
        </td>
      </tr>
    </tbody>
  </table>
</div>
