<section class="flex flex-row items-center justify-around p-8 gap-4 h-full">
  <div class="flex flex-col gap-4 w-1/2">
    <div>
      <h4 class="text-[#C8A97E]">NEW COLLECTION - SS 2026</h4>
    </div>
    <div>
      <h3 class="text-6xl text-[#F0EBE1]">
        CRAFTED FOR THOSE <br />
        WHO GROW FORWARD.
      </h3>
    </div>
    <div>
      <p class="text-[#2E2E2E]">
        {{ homeDescription }}
      </p>
    </div>
    <div class="flex justify-end">
      <div class="w-fit">
        <button
          class="bg-[#C8A97E] p-3 rounded-full text-[#2E2E2E]"
          routerLink="/auth"
        >
          <i class="fa-solid fa-arrow-right text-[#2E2E2E]"></i>
        </button>
      </div>
    </div>
  </div>
  <div
    class="border border-[#2E2E2E] flex items-center justofy-center p-4 rounded-2xl"
  >
    <img
      src="/assets/images/Rvsd__7.jpg"
      alt=""
      class="rounded-2xl w-[500px] h-[500px]"
    />
  </div>
</section>
